img.viewAdminLogo {
    width: 122px;
    margin-top: 18px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    padding: 4px;
}
img.viewAdminfavicon {
    margin-top: 18px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    padding: 4px;
    width: 40px;
}
img.viewSliderImage {
    width: 150px;
    padding: 3px;
    border: 1px solid #ccc;
}
li.activePaginationNum.paginationNums {
    padding: 5px 10px;
    float: left;
    position: relative;
    font-size: 12px;
    line-height: 1.5;
    border: 1px solid #ddd;
    color: #666;
    background: #fafafa;
    font-weight: bold;
}
.customInputGroups {
    float: left;
    margin-right: 6px;
}
.cusInputGrpbtn {
	position: absolute;
	top: 0;
	right: 31px;
}
img.viewSliderEditImage {
    width: 222px;
    padding: 2px;
    border: 1px solid #ccc;
    margin-top: 14px;
}
a.addNewAdmin {
    padding: 5px 10px;
    background: #3c8dbc;
    border: 1px solid #367fa9;
    border-radius: 4px;
    color: #fff;
    margin-left: 16px;
}
img.editGroupIcon {
    border: 1px solid #ccc;
    padding: 4px;
    margin-top: 16px;
    width: 120px;
}
img.editGroupHeaderPic {
    width: 122px;
    margin-top: 16px;
    border: 1px solid #ccc;
    padding: 4px;
}
.searchmenuItem {
    position: relative;
}
.closeValue {
    position: absolute;
    top: 10px;
    right: 8px;
}
.menuAddLink input[type="submit"],
.menuAddLink input[type="button"] {
    float: right;
    padding: 4px 8px;
}
.showMenuIems {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0px 0 0 6px;
    min-height: 140px;
}
.showMenuIems .checkbox {
    margin-top: 0px;
    margin-bottom: 6px;
    cursor: pointer;
}
.showMenuIems .checkbox:hover {
    cursor: pointer;
}
.form-group.menuAddLink {
    width: 100%;
    float: left;
    margin-bottom: 0;
    margin-top: 12px;
}
.overlapForm .box-body {
    position: relative;
}
.refreshSpin {
    position: absolute;
    top: 10px;
    left: 48%;
    font-size: 16px;
}
.menupaginationSearch {
    width: 100%;
    float: left;
    margin-top: 24px;
}
.menuRefreshSpin {
    position: absolute;
    font-size: 34px;
    z-index: 99;
    left: 40%;
    top: 94px;
}
.tab-content {
    position: relative;
}
.liatAllFavIcons {
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #d2d6de;
    padding: 6px;
    margin: 6px 0px;
}
.liatAllFavIcons a label {
    display: none;
}
.liatAllFavIcons a {
    padding: 8px;
}
.liatAllFavIcons a {
    padding: 5px;
    float: left;
    margin: 3px;
    border: 1px solid;
    color: #000;
    font-size: 18px;
}
a.activeFavIcon {
    background: #d2d6de;
}
.liatAllFavIcons a:hover {
    background: #d2d6de;
}
i.activeFav {
    color: #3c8dbc;
}
.viewGroupIcon {
    width: 62px;
    padding: 3px;
    border: 1px solid #ccc;
}
.profile_pic {
    border-radius: 50%;
}
body.add_group_media .select2-container .select2-selection--single {
    height: 32px;
}
.previewSection {
    text-align: center;
}
.previewSection img {
    width: 120px;
    height: 120px;
}
.previewFormFields textarea {
    resize: none;
}
.textValidationError {
    border-color: #ff0000;
}
.mediaGrids {
    border: 1px solid #ccc;
    padding: 12px;
    box-shadow: 0 0 10px #ccc;
}
.mediaGrids .form-group {
    margin-bottom: 0px;
}
.mediaCol4 {
    margin-bottom: 26px;
}
.imageGroupSec {
    text-align: center;
    height: 200px;
}
.imageGroupSec video {
    width: 100%;
}
h1.mediaFileIcon {
    font-size: 92px;
    margin: 0;
    padding: 46px;
}
.videoPlayIcon {
    position: absolute;
    left: 40%;
    top: 18%;
    font-size: 60px;
    z-index: 9;
}
.deleteGroupMedia {
    float: right;
}
.mediapreview img,
.mediapreview video {
    max-width: 100%;
}
li.lapuBalance {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-top: 12px;
    margin-right: 12px;
}
.instaBal h4, .fastBal h4, .recStats h4, .eprsBal h4 {
    font-weight: bold;
}
.instaBal, .fastBal, .recStats {
    min-height: 131px;
}
.recStats small {
    padding-top: 26px;
    float: left;
}
.filterUsers {
    margin-top: 24px;
}
.bodyWrapper {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    position: absolute;
    z-index: 9999;
    display: none;
    top: 0;
    left: 0;
}
.ajaxLoaderMain {
    position: absolute;
    top: 46%;
    left: 46%;
    z-index: 99;
}
.viewTransLog {
    overflow: scroll;
    max-height: 450px;
    border: 2px solid #3c8dbc;
    padding: 14px;
}
.supportChatMsgs {
    height: 400px !important;
}
.NotiInner {
    padding: 10px;
    float: left;
}
.NotiInner span.textMessage {
    display: block;
    margin-bottom: 4px;
}
.NotiInner span.textMessage i {
    margin-right: 6px;
    font-size: 24px;
    vertical-align: middle;
}
.NotiInner span.notiDate {
    float: right;
    font-size: 12px;
}
.NotiInner a {
    color: #444444;
    cursor: pointer;
}
li.notiloader {
    position: absolute;
    top: 22px;
    left: 40%;
}
a.removeTargetEle {
    float: right;
    position: absolute;
    top: 0;
    right: 19px;
    z-index: 99;
}
.appendedTarStoploss {
    position: relative;
}
.removeQues {
    float: right;
}
.checkbox.featureBoxes {
    margin-left: 14px;
}
img.targetsLoader {
    position: relative;
    left: 40%;
}